@using HandymanTools.Common.Enums
@using HandymanTools.Common.Models

@{ 
    var loggedInUser = User.Identity.GetUser() ?? new User();
}

@if (loggedInUser.UserType == UserType.Customer) { 
    <div class="user-menu">
        <div class="user-profile">
            <div class="user-name">
                @loggedInUser.FullName
            </div>
            <div class="user-type">
                @loggedInUser.UserType
            </div>
        </div>
        <div class="user-options">
            <ul class="nav">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ViewProfile" ? "active" : "")">
                    <a href="/Customer/ViewProfile">
                        <i class="glyphicon glyphicon-user"></i>
                        Profile
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Availability" ? "active" : "")">
                    <a href="/Tool/Availability">
                        <i class="glyphicon glyphicon-wrench"></i>
                        Tool Availability
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Make" ? "active" : "")">
                    <a href="/Reservation/Make">
                        <i class="glyphicon glyphicon-calendar"></i>
                        Make Reservation
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
else if (loggedInUser.UserType == UserType.Clerk)
{
    <div class="user-menu">
        <div class="user-profile">
            <div class="user-name">
                @loggedInUser.FullName
            </div>
            <div class="user-type">
                @loggedInUser.UserType
            </div>
        </div>
        <div class="user-options">
            <ul class="nav">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "PickUp" ? "active" : "")">
                    <a href="/Reservation/Pickup">
                        <i class="glyphicon glyphicon-calendar"></i>
                        Pick-Up Reservation
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "DropOff" ? "active" : "")">
                    <a href="/Reservation/Dropoff">
                        <i class="glyphicon glyphicon-calendar"></i>
                        Drop-Off Reservation
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-flag"></i>
                        Service Order
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Add" ? "active" : "")">
                    <a href="/Tool/Add">
                        <i class="glyphicon glyphicon-wrench"></i>
                        Add New Tool
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Sell" ? "active" : "")">
                    <a href="/Tool/Sell">
                        <i class="glyphicon glyphicon-wrench"></i>
                        Sell Tool
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-folder-open"></i>
                        Generate Reports
                    </a>
                </li>
            </ul>
        </div>
    </div>
}