@using HandymanTools.Common.Enums
@using HandymanTools.Common.Models

@{ 
    var loggedInUser = User.Identity.GetUser() ?? new User();
}

@if (loggedInUser.UserType == UserType.Customer) { 
    <div class="user-menu">
        <div class="user-profile">
            <div class="user-name">
                @loggedInUser.FullName
            </div>
            <div class="user-type">
                @loggedInUser.UserType
            </div>
        </div>
        <div class="user-options">
            <ul class="nav">
                <li class="active">
                    <a href="@Url.Action("ViewProfile","Customer")">
                        <i class="glyphicon glyphicon-user"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Availability", "Tool")">
                        <i class="glyphicon glyphicon-wrench"></i>
                        Tool Availability
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Make","Reservation")">
                        <i class="glyphicon glyphicon-calendar"></i>
                        Make Reservation
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
else if (loggedInUser.UserType == UserType.Clerk)
{
    <div class="user-menu">
        <div class="user-profile">
            <div class="user-name">
                @loggedInUser.FullName
            </div>
            <div class="user-type">
                @loggedInUser.UserType
            </div>
        </div>
        <div class="user-options">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="glyphicon glyphicon-calendar"></i>
                        Pick-Up Reservation
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-calendar"></i>
                        Drop-Off Reservation
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-flag"></i>
                        Service Order
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-wrench"></i>
                        Add New Tool
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-wrench"></i>
                        Sell Tool
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-folder-open"></i>
                        Generate Reports
                    </a>
                </li>
                <li>
                    <a href="/User/Logout">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
}