@model List<string>
@{
    ViewBag.Title = "Reservation Confirmation";
}

<div class="jumbotron handyman-jumbotron">
    <h2><span class="glyphicon glyphicon-check" aria-hidden="true"></span> @ViewBag.Title</h2>
</div>
<div>
    <h3>Your Reservation Number is</h3>
    <span style="font-size:x-large">@ViewBag.resNumber</span>
</div>
<div>
    <h3>Tools Rented</h3>
    <ol>
        @foreach (var toolName in Model)
        {
            <li>@toolName</li>
        }
    </ol>
    <dl class="dl-horizontal">
        <dt style="text-align:left">Start Date</dt>
        <dd>@ViewBag.StartDate</dd>
        <dt style="text-align:left">End Date</dt>
        <dd>@ViewBag.EndDate</dd>
        <dt style="text-align:left">Total Rental Price</dt>
        <dd>@string.Format("{0:C}", @ViewBag.TotalRental)</dd>
        <dt style="text-align:left">Total Deposit Required</dt>
        <dd>@string.Format("{0:C}", @ViewBag.totalDeposit)</dd>
    </dl>
</div>

