@model Dictionary<int, string>
@{
    ViewBag.Title = "Reservation Summary";
    Dictionary<int, List<string>> accessories = ViewBag.accessories;
}

<div class="jumbotron handyman-jumbotron">
    <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> @ViewBag.Title</h2>
</div>
    <h3>Tools Desired</h3>
<form action="@Url.Action("Confirmation")" method="post">
    @*<input type="hidden" name="customerId" value="@User.Identity.GetUser().UserName" />*@
    <ol>
        @foreach (var tool in Model)
        {
            <li>
                @tool.Value<input type="hidden" name="toolKey@(tool.Key)" value="@tool.Key" /><input type="hidden" name="toolName@(tool.Key)" value="@tool.Value" />
                @if (accessories.ContainsKey(tool.Key))
                {
                    <ul style="list-style-type:none">
                        <li>Accessories:</li>
                        <li>
                            <ul>
                                @foreach (var accessory in accessories[tool.Key])
                                {
                                    <li>@accessory</li>
                                }
                            </ul>
                        </li>
                    </ul>
                    
                }
            </li>
        }
    </ol>
    <dl class="dl-horizontal">
        <dt style="text-align:left">Start Date</dt>
        <dd>@ViewBag.StartDate<input type="hidden" name="startDate" value="@ViewBag.StartDate" /></dd>
        <dt style="text-align:left">End Date</dt>
        <dd>@ViewBag.EndDate<input type="hidden" name="endDate" value="@ViewBag.EndDate" /></dd>
        <dt style="text-align:left">Total Rental Price</dt>
        <dd>@string.Format("{0:C}", @ViewBag.TotalRental)<input type="hidden" name="totalRental" value="@ViewBag.TotalRental" /></dd>
        <dt style="text-align:left">Total Deposit Required</dt>
        <dd>@string.Format("{0:C}", @ViewBag.totalDeposit)<input type="hidden" name="totalDeposit" value="@ViewBag.TotalDeposit" /></dd>
    </dl>
<input type="submit" value="Submit" class="btn btn-primary"/> <input type="reset" onclick="javascript: window.location.href = '@Url.Action("Make")';" class="btn btn-default"/>
</form>


