@using System.Data
@model System.Data.DataTable
@{
 
}
<h2>Welcome, user from @Request.UserHostAddress to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

@if (ViewData["DbErr"] == null) {
	<h3>Here is a sample of data retrieval:</h3>
	<table border="1">
	<tr>

	@foreach (DataColumn col in Model.Columns) {
		<th>@col.ColumnName</th>
	}
	</tr>	
	@foreach (DataRow row in Model.Rows) {
		<tr>
		@foreach (DataColumn col in Model.Columns) {
			<td>@row[col]</td>
		}
				

		</tr>
	}
			
	</table>
}
else
{
<h4>We were unable to connect to the database:
<br>@ViewData["DbErr"]</h4>
}
		

