@using HandymanTools.Common.Models;
@using HandymanTools.Models
@{
    ViewBag.Title = "My Profile";
}

@model CustomerProfileViewModel

<div>
    <div class="jumbotron handyman-jumbotron">
        <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @ViewBag.Title</h2>
    </div>
    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>Name:</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>Home Phone:</dt>
        <dd>@Html.DisplayFor(model => model.HomePhone)</dd>
        
        <dt>Work Phone:</dt>
        <dd>@Html.DisplayFor(model => model.WorkPhone)</dd>
        
        <dt>Address:</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>
    </dl>

    <h4>Reservations History</h4>
    @if (Model.Reservations != null && Model.Reservations.Count() > 0)
    {
        <table class="table table-bordered"> 
            <thead> 
                <tr> 
                    <th>Res #</th> 
                    <th>Tools</th> 
                    <th>Start</th> 
                    <th>End</th>
                    <th>Rental Price</th> 
                    <th>Deposit</th> 
                    <th>Pick-Up Clerk</th>
                    <th>Drop-Off Clerk</th>   
                </tr> 
            </thead>
            <tbody>
                @{
                    var reservationDetails = new Dictionary<int, ProfileReservationsViewModel>();
                    foreach (var reservation in Model.Reservations)
                    {
                        if (!reservationDetails.ContainsKey(reservation.ReservationNumber))
                        {
                            reservationDetails.Add(reservation.ReservationNumber, new ProfileReservationsViewModel()
                            {
                                Tools = reservation.Tool.AbbrDescription,
                                StartDate = reservation.Reservation.StartDate,
                                EndDate = reservation.Reservation.EndDate,
                                PickupClerk = reservation.Reservation.PickupClerk.FirstName,
                                DropoffClerk = reservation.Reservation.DropOffClerk.FirstName,
                                TotalRental = reservation.Tool.RentalPrice,
                                TotalDeposit = reservation.Tool.DepositAmount
                            });
                        }
                        else
                        {
                            reservationDetails[reservation.ReservationNumber].Tools += ", " + reservation.Tool.AbbrDescription;
                            reservationDetails[reservation.ReservationNumber].TotalRental += reservation.Tool.RentalPrice;
                            reservationDetails[reservation.ReservationNumber].TotalDeposit += reservation.Tool.DepositAmount;
                        }
                    }

                    foreach (var detail in reservationDetails)
                    {
                        <tr>
                            <th scope="row">@detail.Key</th>
                            <td>@detail.Value.Tools</td>
                            <td>@detail.Value.StartDate.ToString("MM/dd/yyyy")</td>
                            <td>@detail.Value.EndDate.ToString("MM/dd/yyyy")</td>
                            <td>@detail.Value.TotalRental.ToString("C")</td>
                            <td>@detail.Value.TotalDeposit.ToString("C")</td>
                            <td>@detail.Value.PickupClerk</td>
                            <td>@detail.Value.DropoffClerk</td>
                        </tr>
                    }
                }
              
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info col-md-6" role="alert"> 
            <strong>Heads up!</strong> There are no reservations for @Model.Name in the system. 
        </div>
    }
</div>

