@using System.Web.UI.WebControls
@using HandymanTools.Common.Enums
@using System.Reflection;

@{
    ViewBag.Title = "Check Tool Availability";
}

@Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
@Styles.Render("~/Content/themes/base/core.css")
@Styles.Render("~/Content/themes/base/theme.css")
@Styles.Render("~/Content/themes/base/datepicker.css")
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="jumbotron handyman-jumbotron">
            <h2><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> @ViewBag.Title</h2>
        </div>
        <hr/>
        <div class="col-md-offset-1">
        <h4>Please select a tool type.</h4>
        <div class="form-group">
                @foreach (var toolType in Enum.GetNames(typeof (ToolType)))
                {

                    <div class="col-md-2">
                        @Html.RadioButton("toolType", toolType, htmlAttributes: new {@class = "@switch"})
                        @Html.Label(toolType @*, htmlAttributes: new { @class = "control-label col-md-2" }*@)
                    </div>

                }

            </div>
            </div>
        <hr/>
        <script>
            $(function() {
                $("#startDate").datepicker();
                $("#endDate").datepicker();

            });
        </script>
        <div class="form-group">
            <div>@Html.Label("Start Date:", htmlAttributes: new {@class = "control-label col-md-2"})</div>
            <div class="col-md-10">@Html.TextBox("startDate", "", htmlAttributes: new {@autocomplete = "off", @class = "form-control"})</div>
        </div>
        <div class="form-group">
            <div>@Html.Label("End Date:", htmlAttributes: new {@class = "control-label col-md-2"})</div>
            <div class="col-md-10">@Html.TextBox("endDate", "", htmlAttributes: new {@autocomplete = "off", @class = "form-control"})</div>
        </div>

        <div class="col-md-offset-2">
            <input type="submit" value="Submit" class="btn btn-primary form-control"/>
        </div>



    </div>
}
