@using System.Web.UI.WebControls
@using HandymanTools.Common.Enums
@using System.Reflection;

@{
    ViewBag.Title = "Check Tool Availability";
}

@Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
@Styles.Render("~/Content/themes/base/core.css")
@Styles.Render("~/Content/themes/base/theme.css")
@Styles.Render("~/Content/themes/base/datepicker.css")
<div class="form-horizontal">
    <div class="jumbotron handyman-jumbotron">
        <h2><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> @ViewBag.Title</h2>
    </div>
    <hr />
    @using (Html.BeginForm())
    {
        <h4>Please select a tool type.</h4>
        
        foreach (var toolType in Enum.GetNames(typeof(ToolType)))
        {

            <div>
                @Html.RadioButtonFor(t => toolType, Enum.Parse(typeof(ToolType), toolType, true)@*, htmlAttributes: new {@class = "form-control"}*@)
            @Html.Label(toolType@*, htmlAttributes: new { @class = "control-label col-md-2" }*@)
        </div>

        }
        <hr/>
        <script>
            $(function() {
                $("#startDate").datepicker();
                $("#endDate").datepicker();
            });
        </script>
        <div>@Html.Label("Start Date:") @Html.TextBox("startDate", "", htmlAttributes: new { @autocomplete = "off"})</div>
        <div>@Html.Label("End Date:") @Html.TextBox("endDate", "", htmlAttributes: new { @autocomplete = "off" })</div>
        <div><input type="submit" value="Submit" class="btn btn-primary" /></div>


    }
</div>
