
@model HandymanTools.Models.ReportViewModel
@{
    ViewBag.Title = "Reports";
}

<div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#inventory">Inventory</a></li>
        <li><a data-toggle="tab" href="#customerRental">Customer Rental</a></li>
        <li><a data-toggle="tab" href="#clerkProgress">Clerk Progress</a></li>
    </ul>
    <div class="tab-content" style="overflow:auto; height:inherit;">
        <div id="inventory" class="tab-pane fade in active">
            <table class="table header-fixed">
                <thead>
                    <tr>
                        <th>Tool ID</th>
                        <th>Abbr. Description</th>
                        <th>Rental Profit</th>
                        <th>Cost of Repairs</th>
                        <th>Total Profit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var m in Model.Inventory)
                    {
                        <tr>
                            <td>@m.Tool.ToolId</td>
                            <td>@m.Tool.AbbrDescription</td>
                            <td>@string.Format("{0:C}", m.RentalProfit)</td>
                            <td>@string.Format("{0:C}", m.CostOfRepairs)</td>
                            <td>@string.Format("{0:C}", m.TotalProfit)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="customerRental" class="tab-pane fade">
            <table class="table header-fixed">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Email Address</th>
                        <th>Number of Rentals</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var m in Model.CustomerRental)
                    {
                        <tr>
                            <td>@m.Customer.FullName</td>
                            <td>@m.Customer.UserName</td>
                            <td>@m.NumberOfRentals</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="clerkProgress" class="tab-pane fade">
            <table class="table header-fixed">
                <thead>
                    <tr>
                        <th>Clerk Name</th>
                        <th>Number of Pickups</th>
                        <th>Number of Dropoffs</th>
                        <th>Total Pickups/Dropoffs</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.ClerkProgress)
                    {
                        <tr>
                            <td>@m.Clerk.FullName</td>
                            <td>@m.Pickups</td>
                            <td>@m.Dropoffs</td>
                            <td>@m.TotalPickupsDropoffs</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
